.delta-preview {
  font-family: 'Inconsolata';
  overflow: hidden;
  white-space: nowrap;
  color: rgb(225, 225, 225);
  font-size: 12px;
  line-height: 11px;
  padding: 5px;
}
.delta-preview .linenumber {
  width: 25px;
  display: inline-block;
  color: #5c5a5a;
}
.delta-preview .deleted {
  text-decoration: line-through;
  color: #5c5a5a;
}
