.notes {
  background: var(--background-1);
  position: relative;
}
.notes .header {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  height: 30px;
  position: relative;
  text-transform: uppercase;
  font-family: 'Roboto';
  font-size: 11px;
  justify-content: space-between;
}
.notes .body {
  width: 100%;
  height: 100%;
  height: calc(100% - 30px);
  padding: 5px;
}
.notes .message {
  opacity: 0.5;
  font-family: 'Roboto';
  font-size: 13px;
  padding: 5px 15px;
}
.notes .header .title {
  font-weight: bold;
}
.notes .header .right span {
  margin-left: 10px;
}

.notes .placeholder {
  position: absolute;
  top: 35px;
  left: 15px;
  pointer-events: none;
  opacity: 0.5;
  font-family: 'Roboto';
  font-size: 13px;
}

.notes .body-preview {
  overflow: auto;
  height: calc(100% - 30px);
  padding: 10px;
  padding-left: 15px;
}
