#root {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #000000;
  color: #cccccc;
  --primary-background: #181a1c;
  --secondary-background: #202428;
}

.main {
  height: 100%;
}
.main .top {
  height: 45px;
  background: var(--primary-background);
  margin-bottom: 1px;
}
.main-left {
  display: flex;
}
.left-menu {
  width: 45px;
  min-width: 45px;
  border-right: 1px solid black;
  background: var(--primary-background);
}
.file-tree {
  background: var(--primary-background);
  width: 100%;
  padding: 10px;
  overflow: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.monaco {
  display: block;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.main-right {
  width: 100%;
  height: 100%;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}
.editor-top {
  height: 20px;
  width: 100%;
  border-bottom: 1px solid #0000004d;
  background: var(--primary-background);
}
.editor-bottom {
  width: 100%;
  height: calc(100% - 21px);
}

.split-horiz {
  display: flex;
  flex-direction: row;
}
.split-editor {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.gutter {
  background-color: #000;
  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter.gutter-horizontal {
  cursor: col-resize;
}

.gutter.gutter-vertical {
  cursor: row-resize;
}

.timeline {
  background: var(--secondary-background);
}

.timeline-top {
  background: var(--secondary-background);
  border-bottom: 1px solid #0000004d;
}

.monaco.edit-mode .diffglyph {
  background: red;
}
.monaco.read-mode .diffglyph {
  display: none;
}

body .monaco-editor .vertical {
  box-shadow: none;
}
body .monaco-diff-editor.side-by-side .editor.modified {
  box-shadow: none;
  border-left: 1px solid #000;
}

.delete-highlight {
  background: rgba(255, 0, 0, 0.5);
  z-index: 1;
  opacity: 0.7;
  position: relative;
}
.delete-highlight:before {
  position: absolute;
  content: '';
  left: 0;
  top: 50%;
  right: 0;
  border-top: 1px solid;
  border-color: var(--vscode-editor-foreground);
  opacity: 0.5;
}

.insert-highlight {
  background: rgba(213, 255, 116, 0.3);
}
.replace-highlight {
  background: rgba(116, 162, 255, 0.3);
}

.highlight-cursor {
  position: absolute;
  border-left: orange solid 2px;
  border-top: orange solid 2px;
  border-bottom: orange solid 2px;
  height: 100%;
  box-sizing: border-box;
}
.highlight-cursor::after {
  position: absolute;
  content: ' ';
  border: 3px solid orange;
  border-radius: 4px;
  left: -4px;
  top: -5px;
}

.cursor-color-replace, .cursor-color-replace::after {
  border-color: rgb(0, 115, 255);
}
.cursor-color-delete, .cursor-color-delete::after {
  border-color: red;
}
