.guide {
  overflow: auto;
  background: var(--background-3);
}
.guide .header {
  text-transform: uppercase;
  font-family: 'Roboto';
  font-size: 11px;
  font-weight: bold;
  padding-left: 17px;
  height: 30px;
  line-height: 30px;
}
.guide .body {
  height: calc(100% - 60px);
  overflow: auto;
}

.guide .step {
  position: relative;
  margin: 10px;
  cursor: pointer;
}
.guide .step.file {
  cursor: default;
}

.guide .step-circle {
  background: #181a1c;
  width: 22px;
  height: 22px;
  border-radius: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #373737;
  z-index: 1;
}

.guide .file .step-circle {
  width: 7px;
  height: 7px;
  margin: 7px;
  background-color: var(--background-1) !important;
}

.guide .file .step-circle span {
  display: none !important;
}

.guide .step-code {
  width: calc(100% - 50px);
  min-height: 35px;
  border-radius: 4px;
  background: #24262a;
  border: 1px solid #212326;
  padding: 5px;
}
.guide .step.draft .step-code {
  background: transparent;
  border: 1px dotted rgb(52 52 52);
}

.guide .step:hover .step-code {
  border-color: #3f4449;
}
.guide .active .step-code {
  border-color: #272a2e;
}
.guide .before-active .step-code {
  background: #2c3035;
  border-color: #272a2e;
}

.guide .draft .step-circle {
  background: var(--background-3);
  border: 1px solid #824500;
}

.guide .step.before-active:not(.draft) .step-circle {
  background: #393d42;
}
.guide .step.active .step-code {
  border: 1px solid #1a6b92;
}
.guide .step.active .step-circle {
  border: 2px solid #1a6b92;
}
.guide .step.active .step-circle span {
  color: #fff;
}
.guide .step.before-active .step-circle span {
  color: #fff;
}

.guide .step-circle span {
  font-size: 11px;
  color: rgb(124, 124, 124);
  font-weight: bold;
  font-family: 'Inconsolata';
}

.guide .step-file {
  font-family: 'Inconsolata';
  margin-left: 10px;
  width: calc(100% - 50px);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.guide .step-line-h {
  width: 10px;
  height: 1px;
  background: #373737;
}
.guide .step-line-v {
  position: absolute;
  width: 1px;
  background: #373737;
  top: 0;
  bottom: -10px;
  left: 10px;
}
.guide .step-line-v.first {
  top: 10px;
}
.guide .step-line-v.last {
  bottom: 25px;
}

.guide .step .icons {
  position: absolute;
  right: 22px;
  background: #1f2124;
  display: flex;
  align-items: center;
  padding: 9px;
  padding-left: 4px;
}
.guide .step.active:not(.draft) .icons,
.guide .step.before-active .iconse {
  background: #212326;
}

.guide .step .icons svg {
  margin-left: 10px;
}
.guide .step .icons svg:first-child {
  margin-left: 0;
}
.guide .step .icons svg.active {
  color: yellow;
}
.guide .step .icons svg.disabled {
  opacity: 0.2;
}

.guide .delta-preview {
  color: #4b856a;
}
.guide .delta-preview .linenumber {
  color: #909090;
}
.guide .delta-preview .deleted {
  color: #995454;
}

.guide .step.after-active .step-file,
.guide .step.after-active .icons,
.guide .step.after-active .delta-preview {
  opacity: 0.5;
}
